@import url('./config.less');

.dropdown_wrap {
    position: absolute;
    top: 0;
    right: 100%;

    &.hidden {
        display: none;
    }

    &.show {
        display: block;
    }
}

.dropdown {
    width: 100px;
    margin-right: 4px;
    padding: 4px 0;
    background: @const-white-color;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
    border-radius: @border-radius;

    li {
        list-style: none;
        height: 32px;
        padding: 5px 0 5px 14px;
        color: @font-black-color;
        font-weight: 400;
        line-height: 22px;
        text-align: left;

        &:hover {
            color: @const-theme-color;
        }
    }
}

.dropdown_expand {
    .dropdown {
        width: 30px;
        padding: 0;
        margin-right: 0;
        box-shadow: none;

        li {
            position: relative;
            height: auto;
            line-height: 16px;
            padding: 6px;
            text-align: center;
            cursor: pointer;

            & + li {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 6px;
                    right: 6px;
                    height: 1px;
                    background: @border-divider-color;
                }
            }
        }
    }
}
